
<html>
<body class="login">
	

	
<div id="login">

	<div class="wrapper signup">
		
			<h3 class="glyphicons lightbulb">Add Company <i></i></h3>
			<div class="separator bottom"></div>
		
			<div id="errorDiv" class="alert alert-error">
				
			</div>
			<!-- Box -->
			<div class="widget widget-heading-simple">
				<div class="widget-body">
		
					<!-- Form -->
				 <!-- <form id="addCompForm" method="POST" action="/addProject" enctype="multipart/form-data"> -->
					<div id="addCompForm"> 
					
					<!-- Row -->
					<div class="row-fluid row-merge">
					
						<!-- Column -->
						<div class="span6">
							<div class="innerR">
								<label class="strong">Company Name</label>
								<input type="text" class="input-block-level" id="companyName" name="Company Name" placeholder="Company Name"/>
								
								<label class="strong">Company E-Mail</label>
								<input type="text" class="input-block-level" id="cemail" name="Company E-Mail" placeholder="Company E-Mail"/>

								<label class="strong">Password</label>
								<input type="password" class="input-block-level" id="cpassword" name="Password"/>

								<label class="strong">Confirm Password</label>
								<input type="password" class="input-block-level" id="conpassword" name="Confirm Password"/>
							</div>


						</div>
						<!-- // Column END -->
						
						<!-- Column -->
						<div class="span6">
							<div class="innerL">
								<label class="strong">Company Site</label>
								<input type="text" class="input-block-level" id="site" name="Company Website" placeholder="Company Site"/>
								
								
								<label class="strong">Address</label>
								<textarea  class="input-block-level" id="address" name="Address" style="height:95px;resize:none" rows="3" cols="90" placeholder="Address"/>
								
								<label class="strong">Company Phone</label>
								<input type="text" class="input-block-level" id="phone" name="Company Phone" placeholder="Phone"/>

								<label class="strong">Company Mobile</label>
								<input type="text" class="input-block-level" id="mobile" name="Company Mobile" placeholder="Mobile"/>


							</div>
						</div>
						
						
						
					</div>
					<div class="separator bottom"></div>
					<div style="text-align:center;"><a href="#" style="width:20%" onclick="postAddCompany('addCompForm','/addCompany')" class="btn btn-icon-stacked btn-block-small btn-success glyphicons snowflake" align=center><i></i><span>Add Company</span><span class="strong">And add project</span></a></div>



					<!-- // Row END -->
					</div>
				<!-- </form> -->
					<!-- // Form END -->
		
		
				</div>
				<!-- // Box END -->
				
			</div>
			
	</div>
	
</div>
<!-- // Wrapper END -->	
		</div>
		<!-- // Content END -->
		
		
		<!-- // Footer END -->
		
	</div>
	<!-- // Main Container Fluid END -->

<!-- // Themer END -->
	


	
</body>
</html>